:host {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    min-width: 15%;
    border-right: 1px solid var(--ng-shaper-dark-grey-1);
    background-color: var(--ng-shaper-dark-grey-2);
}

.sidebar.left {
    padding: 20px;
    max-width: 20%;
}

.sidebar.right {
    padding: 10px;
    overflow-y: auto;
}

.sidebar.left p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 12px;
}

app-viewer {
    flex-grow: 1;
}
