.figure-item-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 220px;
    height: 40px;
    background: var(--ng-shaper-dark-grey-2);
    border: 1px solid var(--ng-shaper-dark-grey-1);
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 5px;
}

h3 {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

.metaInfo {
    display: flex;
    margin-top: 5px;
}

.geometry-details {
    color: var(--ng-shaper-dark-grey-3);
    font-size: 9px;
    margin: 0 3px;

}

.colorPreview {
    width: 10px;
    height: 10px;
    background: var(--ng-shaper-dark-grey-1);
    border: 1px solid var(--ng-shaper-dark-grey-1);
    box-sizing: border-box;
    border-radius: 2px;
}