@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --ng-shaper-dark-grey-1: #1f1f1f;
    --ng-shaper-dark-grey-2: #2E2E2E;
    --ng-shaper-dark-grey-3: #434343;
    --ng-shaper-light-grey: #D2D2D2;
    --ng-shaper-white: white;
    --ng-shaper-blue: #345CEB;
  }

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--ng-shaper-dark-grey-3);
    color: var(--ng-shaper-white);
}